# Install python dependencies

In [1]:
!python -V

# Set up dependencies
!pip install pyjson5
!pip install pyjson

# dynamically load changes to code
%load_ext autoreload
%autoreload 2

base_path = '/content/experiment_module'

# update the path so the custom module can be loaded
import sys
sys.path.insert(1, base_path)

Python 3.10.12
Collecting pyjson5
  Downloading pyjson5-1.6.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (357 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 357.7/357.7 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pyjson5
Successfully installed pyjson5-1.6.6
Collecting pyjson
  Downloading pyjson-1.4.1-py3-none-any.whl (4.6 kB)
Installing collected packages: pyjson
Successfully installed pyjson-1.4.1

In [2]:

# Set up custom module
# see https://saturncloud.io/blog/how-to-import-custom-modules-in-google-colab/
!git clone https://github.com/prule/data-processing-experiment-python.git experiment_module

Cloning into 'experiment_module'...
remote: Enumerating objects: 106, done.
remote: Counting objects: 100% (106/106), done.
remote: Compressing objects: 100% (66/66), done.
remote: Total 106 (delta 29), reused 99 (delta 22), pack-reused 0
Receiving objects: 100% (106/106), 17.23 KiB | 4.31 MiB/s, done.
Resolving deltas: 100% (29/29), done.

## Pull latest code if required

In [3]:
!cd experiment_module && git pull

Already up to date.


# Initialize spark

In [4]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark = SparkSession \
       .builder \
       .appName("data processing experiment") \
       .getOrCreate()

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [808 kB]
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:8 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,694 kB]
Get:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:11 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:12 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,082 kB]
Hit:13 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:14 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [27.8 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,375 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,974 kB]
Fetched 7,214 kB in 2s (3,165 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
45 packages can be upgraded. Run 'apt list --upgradable' to see them.
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=2325c4a55b0b60a7936a5c6459c5132c3313e0ca7a43285f5d44221841484b37
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

### Load table configuration
Load the JSON5 table configuration so we can work with it.

In [5]:
from experiment_module.src.core_prule.JsonRepository import JsonRepository
from experiment_module.src.core_prule.Configuration import Sources
import json

json_repo = JsonRepository()
table_config = json_repo.load_file('/content/experiment_module/config/sample1/sample1.tables.json5')

print(json_repo.print(table_config))

sources = Sources.from_dict(table_config)

{
  "id": "sample1",
  "name": "Sample 1",
  "description": "Sample 1 is a basic dataset configuration to demonstrate capability",
  "sources": [
    {
      "id": "transactions",
      "name": "Transactions",
      "description": "Transactions contains transactions from multiple bank accounts",
      "path": "sample1/transactions/",
      "type": "csv",
      "table": {
        "name": "transactions",
        "description": "account transactions",
        "deduplicate": true,
        "trim": true,
        "columns": [
          {
            "names": [
              "date"
            ],
            "alias": "date",
            "description": "date of transaction",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.DateType",
              "formats": [
                "yyyy-MM-dd",
                "dd-MM-yyyy"
              ]
            },
            "required": true
          },
          {
            "names": [
              "account"
            ],
            "alias": "account",
            "description": "account",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "description"
            ],
            "alias": "description",
            "description": "description",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "trim": true
          },
          {
            "names": [
              "location"
            ],
            "alias": "location",
            "description": "location",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            }
          },
          {
            "names": [
              "amount"
            ],
            "alias": "amount",
            "description": "amount can be a positive (credit) or negative (debit) number representing dollars and cents",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.DecimalType",
              "precision": 10,
              "scale": 2
            },
            "required": true
          }
        ]
      }
    },
    {
      "id": "lga-1",
      "name": "lga-1",
      "description": "lga-1",
      "path": "sample1/lgas/1",
      "type": "csv",
      "table": {
        "name": "lga-1",
        "description": "",
        "deduplicate": true,
        "delimiter": ";",
        "columns": [
          {
            "names": [
              "Code State",
              "Official Code State"
            ],
            "alias": "level_1_code",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "Name State",
              "Official Name State"
            ],
            "alias": "level_1_name",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "Code Local Government Area",
              "Official Code Local Government Area"
            ],
            "alias": "level_2_code",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "Name Local Government Area",
              "Official Name Local Government Area"
            ],
            "alias": "level_2_name",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          }
        ]
      }
    },
    {
      "id": "lga-2",
      "name": "lga-2",
      "description": "lga-2",
      "path": "sample1/lgas/2",
      "type": "csv",
      "table": {
        "name": "lga-2",
        "description": "",
        "deduplicate": true,
        "delimiter": ";",
        "columns": [
          {
            "names": [
              "Code State",
              "Official Code State"
            ],
            "alias": "level_1_code",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "Name State",
              "Official Name State"
            ],
            "alias": "level_1_name",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "Code Local Government Area",
              "Official Code Local Government Area"
            ],
            "alias": "level_2_code",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "Name Local Government Area",
              "Official Name Local Government Area"
            ],
            "alias": "level_2_name",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          }
        ]
      }
    },
    {
      "id": "lga-3",
      "name": "lga-3",
      "description": "lga-3",
      "path": "sample1/lgas/3",
      "type": "csv",
      "table": {
        "name": "lga-3",
        "description": "",
        "deduplicate": true,
        "delimiter": ";",
        "columns": [
          {
            "names": [
              "Code State",
              "Official Code State"
            ],
            "alias": "level_1_code",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "Name State",
              "Official Name State"
            ],
            "alias": "level_1_name",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "Code Local Government Area",
              "Official Code Local Government Area"
            ],
            "alias": "level_2_code",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "Name Local Government Area",
              "Official Name Local Government Area"
            ],
            "alias": "level_2_name",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          }
        ]
      }
    },
    {
      "id": "mappings",
      "name": "Mappings",
      "description": "Value mappings for all tables",
      "path": "sample1/value_mappings",
      "type": "csv",
      "table": {
        "name": "mappings",
        "description": "",
        "deduplicate": true,
        "columns": [
          {
            "names": [
              "table"
            ],
            "alias": "table",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "column"
            ],
            "alias": "column",
            "description": "",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "from"
            ],
            "alias": "from",
            "description": "Value to replace",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          },
          {
            "names": [
              "to"
            ],
            "alias": "to",
            "description": "Replacement value",
            "type": {
              "type": "com.example.dataprocessingexperiment.spark.data.types.StringType"
            },
            "required": true
          }
        ]
      }
    }
  ]
}

# Example use
This code replicates the reference app and shows how we can use the code from the custom module to load data from configuration.

In [6]:
from src.core_prule.Context import Context
from src.core_prule.DataFrameBuilder import DataFrameBuilder


class App:

    def go(self):
        sources = Sources.from_dict(JsonRepository().load_file(base_path + '/config/sample1/sample1.tables.json5'))

        with (SparkSession.builder.appName("Data Processing Experiment").master("local").getOrCreate()) as spark:
            context = Context(sources)

            for source in sources.sources:
                builder = DataFrameBuilder(source, base_path + "/data/", spark)

                # ------------
                # RAW
                # ------------

                # get the raw version of the dataset, everything is a string, and all columns are included
                raw = builder.raw()
                self.display("raw", raw)

                # ------------
                # SELECTED
                # ------------
                #
                # Get the selected version of the dataset, everything is a string,
                # and only configured columns are included.
                # Values will be trimmed if specified, and columns will be aliased.
                selected = builder.selected()
                self.display("selected", selected)

                # ------------
                # TYPED
                # ------------
                #
                # get the typed version of the dataset, with columns and types specified in config
                typed = builder.typed()
                self.display("typed", typed)

                # Add to context
                context.put(source.key, typed)

    def display(self, name: str, df: DataFrame):
        print()
        print(name)
        print()

        df.printSchema()
        df.sort(df.columns[0]).show(100, 10)
        print(f"Row count = {df.count()}")


app = App()
app.go()

raw

root
 |-- date: string (nullable = true)
 |-- account: string (nullable = true)
 |-- description: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- location: string (nullable = true)
 |-- comment: string (nullable = true)

+----------+-------+-----------+-------+----------+----------+
|      date|account|description| amount|  location|   comment|
+----------+-------+-----------+-------+----------+----------+
|      NULL|      x|     tennis|   0.03|      NULL|   no date|
| 2020-0...|      1|     tennis|  35.00|  Banana  |      NULL|
| 2020-0...|      2|     petrol| 150.45|Central...|      NULL|
|01-03-2020|      1|     burger|  15.47|Greater...|alterna...|
|03-03-2020|      1|     tennis|  35.03| Maroondah|alterna...|
|04-03-2020|      2|     petrol| 150.47|      NULL|alterna...|
|05-03-2020|      2|     petrol|  50.47|   Burwood|      NULL|
|05-03-2020|      2|     petrol|  50.48|  Berrigan|      NULL|
|2020-01...|      1|  burgers  |  15.45|  Gympie  |      NULL|
|2020-01-02|      1|     movie |  20.00|  South...|      NULL|
|2020-01-04|      2|     petrol| 150.45|   Cent...|      NULL|
|2020-02-01|      1|     burger|  15.46|  Yarrabah|      NULL|
|2020-02-02|      1|     movies|  20.01|Barcaldine|      NULL|
|2020-02-03|      1|     tennis|  35.01| Maroondah|      NULL|
|2020-02-04|      2|     petrol| 150.46|Gannawarra|      NULL|
|2020-02-04|      2|  electr...| 300.47|   Hepburn|      NULL|
|2020-12-01|       |     tennis|   0.04|      NULL| blank ...|
|2020-12-01|      x|     petrol|      x|      NULL| invali...|
|2020-13-01|      x|     burger|   0.01|unknown...| invali...|
|invalid...|      x|     petrol|   0.02|          |invalid...|
|         x|      x|          x|      x|      NULL| row wi...|
|         x|      x|          x|      x|      NULL| row wi...|
+----------+-------+-----------+-------+----------+----------+

Row count = 22

selected

root
 |-- date: string (nullable = true)
 |-- account: string (nullable = true)
 |-- description: string (nullable = true)
 |-- location: string (nullable = true)
 |-- amount: string (nullable = true)

+----------+-------+-----------+----------+-------+
|      date|account|description|  location| amount|
+----------+-------+-----------+----------+-------+
|      NULL|      x|     tennis|      NULL|   0.03|
| 2020-0...|      1|     tennis|  Banana  |  35.00|
| 2020-0...|      2|     petrol|Central...| 150.45|
|01-03-2020|      1|     burger|Greater...|  15.47|
|03-03-2020|      1|     tennis| Maroondah|  35.03|
|04-03-2020|      2|     petrol|      NULL| 150.47|
|05-03-2020|      2|     petrol|   Burwood|  50.47|
|05-03-2020|      2|     petrol|  Berrigan|  50.48|
|2020-01...|      1|    burgers|  Gympie  |  15.45|
|2020-01-02|      1|      movie|  South...|  20.00|
|2020-01-04|      2|     petrol|   Cent...| 150.45|
|2020-02-01|      1|     burger|  Yarrabah|  15.46|
|2020-02-02|      1|     movies|Barcaldine|  20.01|
|2020-02-03|      1|     tennis| Maroondah|  35.01|
|2020-02-04|      2|     petrol|Gannawarra| 150.46|
|2020-02-04|      2| electri...|   Hepburn| 300.47|
|2020-12-01|       |     tennis|      NULL|   0.04|
|2020-12-01|      x|     petrol|      NULL|      x|
|2020-13-01|      x|     burger|unknown...|   0.01|
|invalid...|      x|     petrol|          |   0.02|
|         x|      x|          x|      NULL|      x|
|         x|      x|          x|      NULL|      x|
+----------+-------+-----------+----------+-------+

Row count = 22

typed

root
 |-- date: date (nullable = true)
 |-- account: string (nullable = true)
 |-- description: string (nullable = true)
 |-- location: string (nullable = true)
 |-- amount: decimal(10,2) (nullable = true)

+----------+-------+-----------+----------+------+
|      date|account|description|  location|amount|
+----------+-------+-----------+----------+------+
|      NULL|      x|     burger|unknown...|  0.01|
|      NULL|      x|     petrol|          |  0.02|
|      NULL|      x|     tennis|      NULL|  0.03|
|      NULL|      x|          x|      NULL|  NULL|
|      NULL|      x|          x|      NULL|  NULL|
|2020-01-01|      1|    burgers|  Gympie  | 15.45|
|2020-01-02|      1|      movie|  South...| 20.00|
|2020-01-03|      1|     tennis|  Banana  | 35.00|
|2020-01-04|      2|     petrol|Central...|150.45|
|2020-01-04|      2|     petrol|   Cent...|150.45|
|2020-02-01|      1|     burger|  Yarrabah| 15.46|
|2020-02-02|      1|     movies|Barcaldine| 20.01|
|2020-02-03|      1|     tennis| Maroondah| 35.01|
|2020-02-04|      2|     petrol|Gannawarra|150.46|
|2020-02-04|      2| electri...|   Hepburn|300.47|
|2020-03-01|      1|     burger|Greater...| 15.47|
|2020-03-03|      1|     tennis| Maroondah| 35.03|
|2020-03-04|      2|     petrol|      NULL|150.47|
|2020-03-05|      2|     petrol|   Burwood| 50.47|
|2020-03-05|      2|     petrol|  Berrigan| 50.48|
|2020-12-01|       |     tennis|      NULL|  0.04|
|2020-12-01|      x|     petrol|      NULL|  NULL|
+----------+-------+-----------+----------+------+

Row count = 22

raw

root
 |-- Code State: string (nullable = true)
 |-- Name State: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Code Local Government Area: string (nullable = true)
 |-- Iso 3166-3 Area Code: string (nullable = true)
 |-- Name Local Government Area: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Long Name Local Government Area: string (nullable = true)

+----------+----------+----+--------------------------+--------------------+--------------------------+----------+-------------------------------+
|Code State|Name State|Year|Code Local Government Area|Iso 3166-3 Area Code|Name Local Government Area|      Type|Long Name Local Government Area|
+----------+----------+----+--------------------------+--------------------+--------------------------+----------+-------------------------------+
|       001|    N.S.W.|2021|                     10850|                  AU|                   Blayney|local g...|                        Blayney|
|       001|New Sou...|2021|                     11500|                 AUS|                Campbel...|local g...|                     Campbel...|
|        01|       NSW|2021|                     10650|                 AUS|                  Berrigan|local g...|                       Berrigan|
|         1|       NSW|2021|                     10650|                 AUS|                  Berrigan|local g...|                       Berrigan|
|         1|New Sou...|2021|                     11700|                 AUS|                Central...|local g...|                     Central...|
|         1|New Sou...|2021|                     15990|                 AUS|                Norther...|local g...|                     Norther...|
|         1|       NSW|2021|                     11300|                 AUS|                   Burwood|local g...|                        Burwood|
|         1|New Sou...|2021|                     11750|                 AUS|                     Cobar|local g...|                          Cobar|
|         1|New Sou...|2021|                     14000|                 AUS|                   Hornsby|local g...|                        Hornsby|
|         1|New Sou...|2021|                     14750|                 AUS|                    Leeton|local g...|                         Leeton|
|         1|New Sou...|2021|                     17200|                 AUS|                    Sydney|local g...|                         Sydney|
+----------+----------+----+--------------------------+--------------------+--------------------------+----------+-------------------------------+

Row count = 11

selected

root
 |-- level_1_code: string (nullable = true)
 |-- level_1_name: string (nullable = true)
 |-- level_2_code: string (nullable = true)
 |-- level_2_name: string (nullable = true)

+------------+------------+------------+------------+
|level_1_code|level_1_name|level_2_code|level_2_name|
+------------+------------+------------+------------+
|         001|      N.S.W.|       10850|     Blayney|
|         001|  New Sou...|       11500|  Campbel...|
|          01|         NSW|       10650|    Berrigan|
|           1|         NSW|       10650|    Berrigan|
|           1|  New Sou...|       11700|  Central...|
|           1|  New Sou...|       15990|  Norther...|
|           1|         NSW|       11300|     Burwood|
|           1|  New Sou...|       11750|       Cobar|
|           1|  New Sou...|       14000|     Hornsby|
|           1|  New Sou...|       14750|      Leeton|
|           1|  New Sou...|       17200|      Sydney|
+------------+------------+------------+------------+

Row count = 11

typed

root
 |-- level_1_code: string (nullable = true)
 |-- level_1_name: string (nullable = true)
 |-- level_2_code: string (nullable = true)
 |-- level_2_name: string (nullable = true)

+------------+------------+------------+------------+
|level_1_code|level_1_name|level_2_code|level_2_name|
+------------+------------+------------+------------+
|         001|      N.S.W.|       10850|     Blayney|
|         001|  New Sou...|       11500|  Campbel...|
|          01|         NSW|       10650|    Berrigan|
|           1|         NSW|       10650|    Berrigan|
|           1|  New Sou...|       11700|  Central...|
|           1|  New Sou...|       15990|  Norther...|
|           1|         NSW|       11300|     Burwood|
|           1|  New Sou...|       11750|       Cobar|
|           1|  New Sou...|       14000|     Hornsby|
|           1|  New Sou...|       14750|      Leeton|
|           1|  New Sou...|       17200|      Sydney|
+------------+------------+------------+------------+

Row count = 11

raw

root
 |-- Official Name State: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Official Code Local Government Area: string (nullable = true)
 |-- Official Code State: string (nullable = true)
 |-- Iso 3166-3 Area Code: string (nullable = true)
 |-- Official Name Local Government Area: string (nullable = true)

+-------------------+----+-----------------------------------+-------------------+--------------------+-----------------------------------+
|Official Name State|Year|Official Code Local Government Area|Official Code State|Iso 3166-3 Area Code|Official Name Local Government Area|
+-------------------+----+-----------------------------------+-------------------+--------------------+-----------------------------------+
|           Victoria|2021|                              21750|                  2|                 AUS|                         Colac O...|
|           Victoria|2021|                              22670|                  2|                 AUS|                         Greater...|
|           Victoria|2021|                              22910|                  2|                 AUS|                            Hepburn|
|           Victoria|2021|                              24410|                  2|                 AUS|                          Maroondah|
|           Victoria|2021|                              24850|                  2|                 AUS|                           Mitchell|
|           Victoria|2021|                              23350|                  2|                 AUS|                             Indigo|
|           Victoria|2021|                              26610|                  2|                 AUS|                          Swan Hill|
|           Victoria|2021|                              22250|                  2|                 AUS|                         Gannawarra|
|           Victoria|2021|                              20830|                  2|                 AUS|                            Baw Baw|
|           Victoria|2021|                              21110|                  2|                 AUS|                         Boroondara|
+-------------------+----+-----------------------------------+-------------------+--------------------+-----------------------------------+

Row count = 10

selected

root
 |-- level_1_code: string (nullable = true)
 |-- level_1_name: string (nullable = true)
 |-- level_2_code: string (nullable = true)
 |-- level_2_name: string (nullable = true)

+------------+------------+------------+------------+
|level_1_code|level_1_name|level_2_code|level_2_name|
+------------+------------+------------+------------+
|           2|    Victoria|       21750|  Colac O...|
|           2|    Victoria|       22670|  Greater...|
|           2|    Victoria|       22910|     Hepburn|
|           2|    Victoria|       24410|   Maroondah|
|           2|    Victoria|       24850|    Mitchell|
|           2|    Victoria|       23350|      Indigo|
|           2|    Victoria|       26610|   Swan Hill|
|           2|    Victoria|       22250|  Gannawarra|
|           2|    Victoria|       20830|     Baw Baw|
|           2|    Victoria|       21110|  Boroondara|
+------------+------------+------------+------------+

Row count = 10

typed

root
 |-- level_1_code: string (nullable = true)
 |-- level_1_name: string (nullable = true)
 |-- level_2_code: string (nullable = true)
 |-- level_2_name: string (nullable = true)

+------------+------------+------------+------------+
|level_1_code|level_1_name|level_2_code|level_2_name|
+------------+------------+------------+------------+
|           2|    Victoria|       21750|  Colac O...|
|           2|    Victoria|       22670|  Greater...|
|           2|    Victoria|       22910|     Hepburn|
|           2|    Victoria|       24410|   Maroondah|
|           2|    Victoria|       24850|    Mitchell|
|           2|    Victoria|       23350|      Indigo|
|           2|    Victoria|       26610|   Swan Hill|
|           2|    Victoria|       22250|  Gannawarra|
|           2|    Victoria|       20830|     Baw Baw|
|           2|    Victoria|       21110|  Boroondara|
+------------+------------+------------+------------+

Row count = 10

raw

root
 |-- Official Name State: string (nullable = true)
 |-- Official Code Local Government Area: string (nullable = true)
 |-- Official Code State: string (nullable = true)
 |-- Iso 3166-3 Area Code: string (nullable = true)
 |-- Official Name Local Government Area: string (nullable = true)

+-------------------+-----------------------------------+-------------------+--------------------+-----------------------------------+
|Official Name State|Official Code Local Government Area|Official Code State|Iso 3166-3 Area Code|Official Name Local Government Area|
+-------------------+-----------------------------------+-------------------+--------------------+-----------------------------------+
|         Queensland|                              30410|                  3|                 AUS|                         Barcaldine|
|         Queensland|                              33620|                  3|                 AUS|                             Gympie|
|         Queensland|                              35670|                  3|                 AUS|                           Napranum|
|         Queensland|                              36660|                  3|                 AUS|                         Souther...|
|         Queensland|                              30370|                  3|                 AUS|                             Banana|
|         Queensland|                              33100|                  3|                 AUS|                          Etheridge|
|         Queensland|                              34830|                  3|                 AUS|                             Mapoon|
|         Queensland|                              35300|                  3|                 AUS|                          Mount Isa|
|         Queensland|                              37600|                  3|                 AUS|                           Yarrabah|
|         Queensland|                              32270|                  3|                 AUS|                         Central...|
+-------------------+-----------------------------------+-------------------+--------------------+-----------------------------------+

Row count = 10

selected

root
 |-- level_1_code: string (nullable = true)
 |-- level_1_name: string (nullable = true)
 |-- level_2_code: string (nullable = true)
 |-- level_2_name: string (nullable = true)

+------------+------------+------------+------------+
|level_1_code|level_1_name|level_2_code|level_2_name|
+------------+------------+------------+------------+
|           3|  Queensland|       30410|  Barcaldine|
|           3|  Queensland|       33620|      Gympie|
|           3|  Queensland|       35670|    Napranum|
|           3|  Queensland|       36660|  Souther...|
|           3|  Queensland|       30370|      Banana|
|           3|  Queensland|       33100|   Etheridge|
|           3|  Queensland|       34830|      Mapoon|
|           3|  Queensland|       35300|   Mount Isa|
|           3|  Queensland|       37600|    Yarrabah|
|           3|  Queensland|       32270|  Central...|
+------------+------------+------------+------------+

Row count = 10

typed

root
 |-- level_1_code: string (nullable = true)
 |-- level_1_name: string (nullable = true)
 |-- level_2_code: string (nullable = true)
 |-- level_2_name: string (nullable = true)

+------------+------------+------------+------------+
|level_1_code|level_1_name|level_2_code|level_2_name|
+------------+------------+------------+------------+
|           3|  Queensland|       30410|  Barcaldine|
|           3|  Queensland|       33620|      Gympie|
|           3|  Queensland|       35670|    Napranum|
|           3|  Queensland|       36660|  Souther...|
|           3|  Queensland|       30370|      Banana|
|           3|  Queensland|       33100|   Etheridge|
|           3|  Queensland|       34830|      Mapoon|
|           3|  Queensland|       35300|   Mount Isa|
|           3|  Queensland|       37600|    Yarrabah|
|           3|  Queensland|       32270|  Central...|
+------------+------------+------------+------------+

Row count = 10

raw

root
 |-- table: string (nullable = true)
 |-- column: string (nullable = true)
 |-- from: string (nullable = true)
 |-- to: string (nullable = true)

+----------+----------+-------+------+
|     table|    column|   from|    to|
+----------+----------+-------+------+
|transac...|descrip...|burgers|burger|
+----------+----------+-------+------+

Row count = 1

selected

root
 |-- table: string (nullable = true)
 |-- column: string (nullable = true)
 |-- from: string (nullable = true)
 |-- to: string (nullable = true)

+----------+----------+-------+------+
|     table|    column|   from|    to|
+----------+----------+-------+------+
|transac...|descrip...|burgers|burger|
+----------+----------+-------+------+

Row count = 1

typed

root
 |-- table: string (nullable = true)
 |-- column: string (nullable = true)
 |-- from: string (nullable = true)
 |-- to: string (nullable = true)

+----------+----------+-------+------+
|     table|    column|   from|    to|
+----------+----------+-------+------+
|transac...|descrip...|burgers|burger|
+----------+----------+-------+------+

Row count = 1